body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'bogart-semibold';
  src: local('bogart-semibold'), url(./fonts/bogart-semibold.otf) format('otf');
}

@font-face {
  font-family: 'amagro-bold';
  src: local('amagro-bold'), url(./fonts/Amagro-bold.ttf) format('ttf');
}