.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: calc(100% - 50px);
  max-width: 1200px;
  height: 100%;
  padding: 25px;

}

.posts-title {
  font-family: bogart-semibold;
  font-size: 20px;
  color: #F39C12;
  position: relative;

  width: 100%;
  margin-bottom: 25px;

  overflow: hidden;
  text-align: center;
}

.posts-title:before, .posts-title:after {
  content: "";
  display: inline-block;
  background-color: #F39C12;
  height: 2px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.posts-title:before {
  right: 0.5em;
  margin-left: -50%;
}

.posts-title:after {
  left: 0.5em;
  margin-right: -50%;
}

@media only screen and (min-width: 375px) {

}

@media only screen and (min-width: 481px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 1024px) {
  .home-container {
    width: calc(100% - 100px);
    padding: 50px;
  }

  .posts-title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

@media only screen and (min-width: 1200px) {

}

@media only screen and (min-width: 1600px) {

}