.comment-card-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 100%;

  box-shadow: 0 10px 30px -15px rgba(2, 12, 27, 0.7);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  z-index: 2;
  padding: 25px;
  border-radius: 4px;
  background-color: #172a45;
  color: #a8b2d1;
  font-size: 18px;
  height: inherit;
  width: 100%;
  padding-bottom: 25px;
  margin-bottom: 50px;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box;
}

.comment-card-hero-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  /* vertical-align: sub; */

  width: 100%;
  padding: 25px;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box;
}

@media only screen and (max-width: 480px) {

  .comment-card-hero-container {
  flex-direction: column;;
  }

} 

.comment-card-header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  vertical-align: sub;

  width: 100%;
  padding: 0px 0px 0px 10px;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box;
}

@media only screen and (max-width: 768px) {

  .comment-card-header-container {
  flex-direction: column;
  }

} 

.fa-user {
  font-size: 30px;
  /* width: 5%; */
  color: white;
  /* height: calc(100% - 2em); */
  margin-left: 0px;
  margin-right: 25px;

  display: flex;
  align-items: center;
  vertical-align: middle;

  border: solid white 2px;
  border-radius: 50%;
  padding: 20px;
  /* border: #f39c12 solid 2px;
  border-radius: 50%; */

  /* position: relative; */
  /* z-index: 2; */
  /* background: #F39C12; */
  /* display: inline; */
  /* background: linear-gradient(180deg, rgba(255, 255, 255, 0) 15%, #f39c12 15%);
  padding: 0px 10px;
  text-align: left; */

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box;
}

.fa-user:before {
  /* transform: translateX(35%); */
  /* transform: translateY(-100%) */
}


.comment-author-name {

  color: #ccd6f6;
  color: white;
  font-size: clamp(24px, 5vw, 28px);
  /* width: 75%; */

  position: relative;
  z-index: 2;
  /* background: #F39C12; */
  display: inline;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 15%, #f39c12 15%);
  padding: 0px 10px;
  text-align: left;

  margin: 0px;

}

@media only screen and (max-width: 480px) {

  .comment-author-name {
  margin: 25px 0px;
  }

} 

.comment-date {
  margin: 10px 0;
  color: #f39c12;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  font-size: 13px;
  font-weight: 400;
  z-index: 2;
  width: 50%;
  text-align: right;
  flex-grow: 1;
}

@media only screen and (max-width: 480px) {

  .comment-date {
    text-align: left;
  }
}

.comment-content {
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  z-index: 2;
  padding: 25px;
  border-radius: 4px;
  background-color: #172a45;
  color: #a8b2d1;
  font-size: 18px;
  height: inherit;
  width: 100%;
  padding-bottom: 25px;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box;

}