.comment-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 100%;
  margin-bottom: 50px;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box;
}

.comment-error-message {
  text-align: center;
  color: white;
}

.comment-form-title {

    color: #ccd6f6;
    color: white;
    font-size: clamp(24px, 5vw, 28px);
    /* width: 75%; */
  
    position: relative;
    z-index: 2;
    /* background: #F39C12; */
    display: inline;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 15%, #f39c12 15%);
    padding: 0px 10px;
    text-align: left;
}

.comment-form-inputs-container {

  box-shadow: 0 10px 30px -15px rgba(2, 12, 27, 0.7);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  z-index: 2;
  padding: 25px;
  border-radius: 4px;
  background-color: #172a45;
  color: #a8b2d1;
  font-size: 18px;
  height: inherit;
  width: 100%;
  padding-bottom: 25px;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box;

}

.comment-form-input {
  font-family: Roboto;
  font-size: 18px;
  color: rgba(2, 12, 27, 0.7);
  font-weight: 300;
  text-align: left;

  width: 100%;
  margin: 10px 0px;
  padding: 2px 5px;

  border: none;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.7);

  -webkit-box-shadow: "0 5px 5px -6px lightgray";
  -moz-box-shadow: "0 5px 5px -6px lightgray";
  box-shadow: "0 5px 5px -6px lightgray";

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box;
}

.comment-button {
  color: #ccd6f6;
  color: white;
  font-size: clamp(24px, 5vw, 28px);
  /* width: 75%; */

  position: relative;
  z-index: 2;
  /* background: #F39C12; */
  display: inline;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 15%, #f39c12 15%);
  padding: 0px 10px;
  text-align: left;
  border: none;

}

.invalid {
  border: 2px solid red;
  margin: 1px 5px;
}